@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* --- Premium Scrollbar (Zarif Kaydırma Çubuğu) --- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e4e4e7; /* zinc-200 */
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #27272a; /* zinc-800 */
  }
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa; /* zinc-400 */
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb:hover {
    background: #52525b; /* zinc-600 */
  }
}